<div class="posts">

   {{#each contents}}
   <a href="/single/{{_id}}" class="post target">
      <h1 class="title">
         {{title}}
      </h1>
      <img src="{{imgURL}}" alt="cotnent">
      <p>
         {{content}}
      </p>
      <div class="authorAndDate">
         <span>{{author}}</span>
         <span>{{date}}</span>
      </div>
   </a>
   {{/each}}


</div>